.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: start;
}

#submit-button {
    text-align: center;
}